.c-container {
	/* color: rgb(0, 0, 0);
	border: 1px solid #0a266a;
	margin: 10px 0 20px 0;
	height: auto;
	font-family: "Sofia Pro";
	background: linear-gradient(315.17deg, #051A4E 0%, #0D2C76 100%); */
	/* width: 768px; */
	/* height: 1024px; */
}

/* .headerDiv {
	width: 734px;
	padding-top: 10px;
} */

/* .page-header {
	text-align: center;
}  */

/* .slds-icon_large {
    height: 100px;
    width: 4rem;
}

.slds-tile {
	  margin-top: 70px;
	  margin-bottom: 20px;
} */

/* .slds-icon-action-user {
	border-color: white;
	transition-duration: 0.5s;
	border: 2px solid #ffffff;
	background-color: #0a266a;
} */

/* .strap-msg {
	height: 62.4px;
	color: #FFFFFF;
	font-family: "Sofia Pro";
	font-size: 28.6px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 31.2px;
	text-align: center;
} */

/* .slds-icon-action-user:hover {
	cursor: pointer;
	border: 2px solid #ffffff;
	border-color: rgb(255,104,65);
} */

/* .backArrrowDiv {
	float: left;
	margin: 0 auto;
	color: white;
	font-size: 12px;
	text-align: center;
	border-radius: 25px;
}

.profileDiv {
	padding-top: 5px;
	display: inline-block;
	vertical-align: middle;
} */

/* .endSessionDiv {
	float: right;
	height: 34px;
    width: 141px;
	margin: 0 auto;
	font-size: 12px;
	color: #0a266a;
	padding-top: 7px;
	text-align: center;
	border-radius: 25px;
	transition-duration: 0.5s;
	background-color: white;
	border: 2px solid #ffffff;
}

.endSessionDiv:hover {
	border-color: rgb(255,104,65);
	cursor: pointer;
} */

/* .gridItem {
	height: 216px;
	width: 295px;
	border-radius: 40px;
	border-style: solid;
	border-width: medium;
	border-color: white;
	transition-duration: 0.5s;
	background-color: #FFFFFF;
}

.gridItem:hover {
	background-color: white;
	border-color: rgb(255,104,65);
	color: rgb(255,104,65);
	cursor: pointer;
} */

/* .s-smart {
	font-size: 50px;
    font-family: cursive;
    transform: rotate(-20deg);
    color: rgb(255,104,65);
    border: 2px solid #ffffff;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-top: 0px;
}

.smart {
	font-size: 70px;
	padding-left: 10px;
} */

/* .h-1-copy {
	display: flex;
	color: white;
	align-items: center;
} */

/* .page-footer {
	height: 74.24px;
	width: 366.01px;
	border-radius: 43.86px;
	padding: 20px;
	color: #FFFFFF;
	font-size: 21.93px;
	letter-spacing: 0;
	line-height: 26.32px;
	text-align: center;
	transition-duration: 0.5s;
	background-color: #FF6323;
	box-shadow: 0 2px 9px 0 rgba(0,0,0,0.2);
}

.page-footer:hover {
	background-color: white;
	border-color: rgb(255,104,65);
	color: rgb(10,38,106);
	cursor: pointer;
}

.backDiv {
	padding-top: 5px;
	display: inline-block;
	vertical-align: middle;
} */